# EmailJS Account-1: Registration & Contact
VITE_EMAILJS_ACCOUNT1_PUBLIC_KEY=your_public_key_here
VITE_EMAILJS_ACCOUNT1_SERVICE_ID=your_service_id_here
VITE_EMAILJS_ACCOUNT1_REGISTRATION_TEMPLATE=your_template_id_here
VITE_EMAILJS_ACCOUNT1_CONTACT_TEMPLATE=your_template_id_here

# EmailJS Account-2: University & IND Interview
VITE_EMAILJS_ACCOUNT2_PUBLIC_KEY=your_public_key_here
VITE_EMAILJS_ACCOUNT2_SERVICE_ID=your_service_id_here
VITE_EMAILJS_ACCOUNT2_UNIVERSITY_TEMPLATE=your_template_id_here
VITE_EMAILJS_ACCOUNT2_IND_TEMPLATE=your_template_id_here

# EmailJS Account-3: Embassy Interview
VITE_EMAILJS_ACCOUNT3_PUBLIC_KEY=your_public_key_here
VITE_EMAILJS_ACCOUNT3_SERVICE_ID=your_service_id_here
VITE_EMAILJS_ACCOUNT3_EMBASSY_TEMPLATE=your_template_id_here

# Adminpanel
VITE_ADMIN_PASSCODE=your_8_digit_passcode